/* CSS variables */
:root {
    --primary-color: white;
    --primary-bg-color: rgb(46, 63, 95);
}

body {
    background-color: var(--primary-bg-color);
}
/* Common styling */

.card {
    box-shadow: 0 0 4px gray;
}
.primary-button {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    border-radius: 0;
    width: 100%;
    height: 40px;
}
.anchor {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: underline;
}
.anchor:hover {
    text-decoration: none;
}

/* AUTHENTICATION COMPONENTS*/
/* Authentication component ---------- */
.authentication {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authentication-form {
    width: 400px;
}
.authentication .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orangered;
    color: var(--primary-color);
    max-width: max-content;
    padding: 8px 16px;
    margin-top: 8px;
    margin-left: -40px;
    border-bottom-left-radius: 12px;
}

.vertical2 > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Form ---------- */
input {
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}
input:focus {
    outline: none;
    border: 2px solid gray;
    box-shadow: 0;
}
label {
    font-size: 16px;
    color: black;
    font-weight: bold;
}
