.main {
    display: flex;
    height: 100vh;
}

/* SIDEBAR COMPONENT */
.sidebar {
    width: 300px;
    background-color: var(--primary-bg-color-light);
    margin: 20px;
    border-radius: 5px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.sidebar.collapsed {
    width: 100px;
    padding: 0 10px;
}
.menu {
    margin-top: 40px;
}
.menu h3 {
    text-align: center;
    font-size: 1.5rem;
}

.menu-item {
    margin: 30px 0;
}
.sidebar.collapsed .menu-item {
    text-align: center;
}
.menu-item i {
    margin: 0 15px;
}
.menu-item a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}
.menu-item a:hover {
    color: white;
}
.active-menu-item {
    background-color: var(--primary-bg-color);
}
.active-menu-item > a {
    color: white;
}

/* CONTENT COMPONENT */
.content {
    width: 100%;
}
/* --CONTENT-HEADER */
.content-header {
    background-color: var(--primary-bg-color-light);
    border-radius: 5px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-header i.action-header-icon {
    font-size: 2rem;
    cursor: pointer;
}
.content-header-user {
    display: flex;
    align-items: center;
}
.content-header-user a {
    margin-left: 10px;
    font-size: 1.25rem;
    color: white;
}

/* --CONTENT-BODY */
.content-body {
    background-color: var(--primary-bg-color-light);
    border-radius: 5px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    height: calc(100vh - 10vh - 60px);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .sidebar {
        padding: 0 20px;
    }
}
